* {
    box-sizing: border-box;
    border-collapse: collapse;
    -moz-appearance: none;
    -webkit-appearance: none;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
    display: flex;
}

body {
	font-family: $base--font_family;
	font-size: $base--font_size;
	line-height: $base--line_height;
	background: $color__background-body;
	color: $color__text-body;
    margin: auto;
}



